<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CenterController</servlet-name>
    <servlet-class>com.itany.p2p.mvc.CenterController</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.itany.p2p.action.CheckUsername</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestAction</servlet-name>
    <servlet-class>com.itany.p2p.action.TestAction</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CenterController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/servlet/CheckUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestAction</servlet-name>
    <url-pattern>/servlet/TestAction</url-pattern>
  </servlet-mapping>
</web-app>